body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: monospace
}

.scoreboard {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 24rem;
    margin-bottom: 6rem;
}

.score{
    line-height: 8rem;
    text-align: center;
    font-size: 96px;
    width: 8rem;
    height: 8rem;
    border-color: cornflowerblue;
    border-width: 0.5rem;
    border-style: solid;
}

.options{
   display: flex;
   gap: 18rem;
   margin-bottom: 5rem;

}

.option{
    border-width: 0.2rem;
    background-color: khaki;
    border-color: darkslategray;
    height: 3rem;
    line-height: 2.6rem;
    text-align: center;
    width: 8rem;
    border-style: solid;
    cursor:pointer;
}

.Announcement {
font-size: 48px;
text-align: center;
font-weight: bold;
color: lightcoral;
}